.body_frame {
    /*background: aqua;*/
    padding-inline: 2em;
    margin-top: .5em;
}

.header_layer{
    /*border: black solid 2px !important;*/
    display: flex;
    justify-content: space-between;
    align-items: center;


    /*margin-top: .5em;*/

}

.header_layer  .page_label{
    /*border: black solid 2px !important;*/
    color: #007bff;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    /*font-size:1.5em ;*/
    letter-spacing: .3em;
    border-left: #007bff solid 4px;
    padding-inline-start: .5em;

    /*margin-top: .5em;*/

}


table {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

thead {
    display: flex;
}

thead tr {
    display: flex;
    width: 100%;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

thead tr th {
    flex: 1;
    border: 1px solid black;
    padding: 0.5em;
    text-align: left;
}

thead tr th:last-child {
    flex: 1;
    /*border: 1px solid darkolivegreen;*/
    padding: 0.5em;
    text-align: center;
}


tbody tr {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

tbody tr td{
    margin-top: .25em;
    flex: 1;
    padding: 0.5em;
    text-align: left;
    border: 0.01rem solid black;

}

tbody tr td:last-child{
    flex: 1;
    padding: 0.5em;
    text-align: center;
}

caption {
    /*caption-side: bottom;*/
    padding: 10px;
    font-weight: bold;
}

.icon_space{
    margin-inline-end: 1em;
}

.create_button_layer{
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;
}

.button_create {
    border-radius: 0.2em;
    padding:.35em;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
    width: fit-content;

}
.button_create a {
    text-decoration: none;
    color: white;
}
.button_create:hover{
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */


}
.button_create a:hover{
    color: white;

}
