.form_page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: Arial, sans-serif;*/
}

.register_class {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    /*justify-self: center;*/

}

h5, hr {
    margin: .5em;
    width: 100%;
    /*text-align: center;*/

}

h5{
    font-size: 18px;
}
.row_setup{
    display: flex;
    flex-direction:row;
    /*border: solid 1px blue;*/
    width: 100%;
}


input {
    margin: .5em;
    width: 100%;
    border-radius: 0.5em;
    height: 2.5em;
    padding: 0 0.5em;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    border-radius: 0.5em;
    height: 2em;
    margin: 0.25em;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;


}
.button_login_link {
    width: 100%;
    border-radius: 0.4em;
    margin: 0.25em;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;

}

button:hover {
    background-color: #0056b3;
}

.icon_space{
    margin-inline-end: 1em;
}


button_create {
    border-radius: 0.2em;
    padding:.35em;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
    width: fit-content;

}
.button_create a {
    text-decoration: none;
    color: white;
}
.button_create:hover{
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */


}
.button_create a:hover{
    color: white;

}


/*button:hover {*/
/*    background-color: #0056b3;*/
/*}*/
.edit_button{
    color: #007bff;
    cursor: pointer;

}
.edit_button:hover{
    color: #007bff;
    transform: scale(1.2);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */

}

.delete_button{
    color:#dc3545;
    cursor: pointer;

}

.delete_button:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */

}

.button_save{
    color:#28a745;
    cursor: pointer;


}
.button_save:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */

}
input[type="checkbox"]:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in; /* optional for smooth scaling */
}
input[type="checkbox"] {
    cursor: pointer;

}


