<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOK</title>
    <link rel="stylesheet" href="css/book.css" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">
</head>
<body>
<div class="body_frame">
    <h2>Books</h2>
    <hr>
    <div class="create_button_layer" >
        <a href="create_book.html" class="button_create">
          <span>
            <i class="fa-solid fa-plus"></i>  Create
          </span>
        </a>

    </div>
    <table>
        <caption>Book List</caption>
            <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Chapters/Sections</th>
               <th scope="col">Date Added</th>
                <th scope="col">Read Count</th>
                <th scope="col">Read</th>

                <th scope="col">Created By</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
        <tbody>
        <tr>
            <td>Genesis</td>
            <td></td>
            <td>30</td>
            <td>20/24/2025</td>
            <td>0</td>
            <td><input type="checkbox"/></td>
            <td>Isiiko </td>
            <td>view edit delete </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
