<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chapters</title>
    <link href="css/chapter.css" rel="stylesheet" type="text/css">
    <link href="../fontawesome_6/all.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="chapter_frame">
    <h2>Genesis </h2>
    <hr>
    <div class="create_button_layer">
        <a class="button_create" href="create_chapter.html">
          <span>
            <i class="fa-solid fa-plus"></i>  Create
          </span>
        </a>

    </div>
    <div class="caption_aligner">
        <caption>(Chapters) (Read 12) (Not Read 5)</caption>

    </div>
    <div class="chapter_controller">
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
           <input type="checkbox" />

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox" />

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox" />

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox" />

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox" />

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox"/>

        </div>
        <div class="chapter_card">
            <span>Chapter. 1</span>
            <span>Ver. 20</span>
            <a href="verse.html"><i class="fa fa-eye"></i></a>
            <input type="checkbox"/>
        </div>
    </div>
    <!--    <div class="main_card">-->
    <!--        <input type="checkbox" id="mk"  />-->
    <!--        <label for="mk" class="marker"> <span>^</span> </label>-->
    <!--        <div class="content"></div>-->
    <!--    </div>-->

</div>

</body>
</html>
