<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link href="css/create_book.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="register_class">
    <h5><i class="fa-solid fa-plus"></i> Create Book</h5>
    <hr>

    <div class="row_setup">

        <input type="text" placeholder="Book Name" />
    </div>
    <div class="row_setup">
        <select name="library" id="library">
            <option value="">Select Library</option>
            <option value="saab">library 2</option>
            <option value="opel">library 3</option>
        </select>    </div>
    <div class="row_setup">
        <textarea placeholder=" Description"></textarea>
    </div>
    <div class="row_setup">
        <button><i class="fa-solid fa-plus"></i> Save</button>
    </div>

</div>
</body>
</html>
