<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="css/book.css" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="body_frame">
    <h2>Library</h2>
    <hr>
    <table>
        <caption>Store </caption>
            <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Short Name</th>
               <th scope="col">Publisher</th>
               <th scope="col">Owner</th>
               <th scope="col">Read Count</th>
               <th scope="col">Date Added</th>
                <th scope="col">Read</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
        <tbody>
        <tr>
            <td>Things Fall Apart</td>
            <td>TFA</td>
            <td>Ivan</td>
            <td>Chinewa Achebe</td>
            <td>0</td>
            <td>20/24/2025</td>
            <td><input type="checkbox"/></td>
            <td>view</td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
