<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="login_class">
    <h5>User Login</h5>
    <hr>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <button><i class="fa-solid fa-door-open"></i> Login</button>
    <button><i class="fa-solid fa-plus"></i> Create Account</button>
    <button><i class="fa-solid fa-user-lock"></i> Forgot Password</button>
</div>
</body>
</html>
