<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="css/register.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="register_class">
    <h5>Create Account</h5>
    <hr>

    <div class="row_setup">
        <input type="text" placeholder="Salutation" />

        <input type="text" placeholder="First Name" />
    </div>
    <div class="row_setup">
        <input type="text" placeholder="Last Name" />

        <input type="text" placeholder="Other Name" />
    </div>
    <div class="row_setup">
        <input type="email" placeholder=" Email" />
    <input type="text" placeholder="Phone Number" />
    </div>
    <div class="row_setup">
        <input type="text" placeholder="User Name" />
        <input type="date" placeholder="Date of Birth" />
    </div>
    <div class="row_setup">
        <input type="text" placeholder="Password" />
        <input type="password" placeholder="Confirm Password" />
    </div>
    <div class="row_setup">
        <button><i class="fa-solid fa-floppy-disk button_save icon_space"></i> Save</button>
        <a class="button_login_link" href="login.html"><i class="fa-solid fa-door-open icon_space"></i> Login</a>
    </div>

</div>
</body>
</html>
