<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="css/users.css" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="body_frame">
    <h2>Users</h2>
    <hr>
    <div class="create_button_layer" >
        <a href="register.html" class="button_create">
          <span>
            <i class="fa-solid fa-plus"></i>  Create
          </span>
        </a>

    </div>
    <table>
        <caption>System Users </caption>
            <thead>
            <tr>
               <th scope="col">Full Name</th>
               <th scope="col">User Name</th>
               <th scope="col">Email</th>
               <th scope="col">Phone Number</th>
               <th scope="col">System User Code</th>
               <th scope="col">Date of Birth</th>
               <th scope="col">Date Created</th>
               <th scope="col">Status</th>
               <th scope="col">Deleted</th>
               <th scope="col">Archived</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
        <tbody>
        <tr>
            <td>Isiiko Ivan</td>
            <td>Esko</td>
            <td>ivan@gmail.com</td>
            <td>0773251478</td>
            <td>USER001</td>
            <td>20/24/2025</td>
            <td>20/24/2025</td>
            <td><input type="checkbox"/></td>
            <td><input type="checkbox"/></td>
            <td><input type="checkbox"/></td>
            <td><a href="register.html" class="button_update"><i class="fa-solid fa-pen-to-square edit_button"></i></a>  <a href="" class="button_delete"><i class="fa-solid fa-trash delete_button"></i></a>  </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
