<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chapters</title>
    <link rel="stylesheet" href="css/chapter.css" type="text/css">
    <link rel="stylesheet" href="../fontawesome_6/all.css" type="text/css">

</head>
<body>
<div class="chapter_frame">
    <h2>Genesis </h2>
    <hr>
    <div class="create_button_layer" >
        <a href="create_chapter.html" class="button_create">
          <span>
            <i class="fa-solid fa-plus"></i>  Create
          </span>
        </a>

    </div>
    <div class="caption_aligner">
        <caption>(Chapters)</caption>

    </div>
    <div class="chapter_controller">
<div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
</div><div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
</div><div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
</div><div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
</div>
        <div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
</div>        <div class="chapter_card">
    <span>Chapter. 1</span>
    <span>Ver. 20</span>
<i class="fa fa-eye"></i>
    </div>      <div class="chapter_card">
        <span>Chapter. 1</span>
        <span>Ver. 20</span>
    <i class="fa fa-eye"></i>
    </div>
    </div>
<!--    <div class="main_card">-->
<!--        <input type="checkbox" id="mk"  />-->
<!--        <label for="mk" class="marker"> <span>^</span> </label>-->
<!--        <div class="content"></div>-->
<!--    </div>-->

</div>

</body>
</html>
